* {
	margin: 0px;
	padding: 0px;
}
nav {
	margin-left: 20px;
	margin-right: 20px;	
}
header {
	background-color: #0000FF;
	color: #FFFF00;
	font-size: 26;
}
h1, h2 {
	padding: 10px;
}
.fondo-verde {
	background-color: #00FF00;	/*green*/
}
#barra_lateral {
	background-color: #00FFFF;
	float: right;
}


